@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

.main-section {
	background-color: #1f2937;
	color: #f9faf8;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
}

.navbar-left {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bolder;
}

.navbar-right {
	display: flex;
	align-items: center;
	justify-content: center;
}

.navbar-right ul {
	display: flex;
	gap: 20px;
	list-style: none;
	font-size: 18px;
	color: #e5e7eb;
}

.info {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.info h1 {
	font-size: 48px;
}

.info p {
	font-size: 18px;
	color: #e5e7eb;
}

.info button {
	font-size: 18px;
	width: 10vw;
	background-color: #3882f6;
	border: 0;
	border-radius: 5px;
	padding: 0.5rem;
	color: #f9faf8;
	font-weight: bold;
}

.image-container img {
	width: 30vw;
	height: 30vh;
}
