@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto";
}

.main-section {
	background-color: #1f2937;
	color: #f9faf8;
	padding-bottom: 15vh;
}

.navbar {
	display: flex;
	justify-content: space-evenly;
	padding-top: 2vh;
}

.navbar-left {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bolder;
	flex-grow: 2;
	flex-shrink: 0;
	flex-basis: 15vw;
}

.navbar-right {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1.5;
	flex-shrink: 0;
	flex-basis: 50vw;
}

.navbar-right ul {
	display: flex;
	gap: 30px;
	list-style: none;
	font-size: 18px;
	color: #e5e7eb;
}

.info {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20vh;
}

.info h1 {
	font-size: 48px;
}

.info p {
	font-size: 18px;
	color: #e5e7eb;
}

.info button {
	font-size: 18px;
	width: 10vw;
	background-color: #3882f6;
	border: 0;
	border-radius: 5px;
	padding: 0.5rem;
	color: #f9faf8;
	font-weight: bold;
	margin-top: 1.5vh;
	text-align: center;
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: start;
}

.image-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 40vw;
	height: 45vh;
}

.image-container img {
	width: 35vw;
	height: 41vh;
}

.card-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-section h1 {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.cards {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.card {
	width: 150px;
	height: 150px;
	border: 3px solid #3882f6;
	border-radius: 15px;
}
